<div class="container p2">
  <h1>Editing Donor</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @donor, class: 'btn btn-outline' %>
  <%= link_to 'Back', donors_path, class: 'btn btn-outline' %>
</div>
